body.dark {
    background-color: #000000;
    -webkit-text-fill-color: #fff;
    .about-section .about-info a ,.source_code a{
        margin: auto;
        color: #fff;
    }
    #more{
        color: #fff;
    }
    #moree a{
        -webkit-text-fill-color: #000000;
    }
    ul.custom-bullets{
      color: #fff;
    }
    .nav-menu a{
        color: #000000;
    }
    #moree,.nav-menu{
        -webkit-text-fill-color: #000000;
    }
    .dark-mode-toggle{
        color:#000000;
        background-color:#e5e7eb;
        border: none;
    }
    
}
.toggle-theme{
    position: fixed;
    right:8%;
    top:2%;
    z-index: 1200;
    color: #fff;
}
/* Toggle button styles */
.dark-mode-toggle,.toggle-btns {
    padding: 12px 30px;
    cursor: pointer;
    border-radius:40px;
    margin-left: 20px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: white;
}
