body.dark {
    background-color: #000000;
    #hamburger,.toggle-btns{
        /* background-color:#eff0f4; */
        color: #000000;
    }
    #first_nav {
        --skin-color: #000000;
        border: 1px solid rgb(239,240,244);
    }
    #logo{
        background-color: black;
    }
    h1,p,h2,.row p,.row span,.row i,.row input::placeholder,.row textarea::placeholder,#buttonText{
        color: #e0e6ed;
    }
}

