@media (max-width: 600px) {
  .contact-section .contact-item{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-section .about-img {
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
    /* padding-bottom: 30px; */
  }
  
  #a2{
    margin-top:10px;
    margin-left:5%;
  }
  #hamburger {
    background-color: #1e3a5f;
    width:100%;
    margin-left:-70%;
  }
  #toggle  {
    margin: auto;
    margin-left: 25%;
    justify-content: space-evenly;
    margin-top:-40px;
  }
  #hamburger button{
    padding: 5% 10%;
  }
  #logo{
    margin-top: 30px;
  }
}
@media (max-width: 1054px) and (min-width: 600px) {
  #logo{
    margin-top: 110px;
  }
  #hamburger {
    background-color: #1e3a5f;
    width:100%;
    margin-left:-70%;
  }
  .about-section .about-img {
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #toggle  {
    margin: auto;
    margin-left: 30%;
    justify-content: space-evenly;
    margin-top: -60px;
  }
  #hamburger button{
    padding: 5% 10%;
  }
  #a2{
    margin-top:15px;
    margin-left:5%;
  }
}
